.class_color{
    color: rgb(21, 227, 235)
}

.component_color{
    color: rgb(218, 57, 105)
}

.render_color{
    color: rgb(247, 202, 2)
}

.componentEx_color{
    color: rgb(0, 253, 97)
}

.props_color{
    color: rgb(253, 93, 0)
}

.this_color {
    color: rgb(125, 191, 230)
}

.state_variavel {
    color: rgb(178, 181, 184)
}

.comentario {
    color: rgb(128, 211, 160)
}

.elements{
    color:rgb(218, 38, 92)
}

.code-example { 
    color: rgb(223, 223, 223)
}